body{

  margin: 220px ;
  background-size: cover ;
  background-position: center;
  background-orgin: 300px ;
  background-image: linear-gradient(124deg,  #4b389f, #0f3f27);
}

h1 {
  color: white;
  text-align: center ;
  font-size: 2cm ;
}

h2 {
color: white ; 
text-align: left ;
}

h3 {
color: white ;
text-align: center ; 
}

aside{
  height: 400px ;
  width: 200px ;
  text-align: right ;
  background-position: right ;
}
.header {
  margin-top: -150px
}

.header a {
  margin: 50px ;
  color: white ; 
  font-size: 120% ;
}

.navbar-right {
  float: right corner ;
}

.content {
  float: center;
  align-items: center;
}

p, li, ol{
color: lightblue ;
font-size: 120% ; 
}

 tr, td, th{
color: lightblue ;
font-size: 100% ; 
}




