body{

  margin: 100px ;
  background-size: cover ;
  background-position: center;
  background-orgin: 300px ;
  background-image: url("https://ak.picdn.net/shutterstock/videos/1009609082/thumb/1.jpg");
}

h1 {
  color: white;
  text-align: center ;
  font-size: 2cm ;
}

h2 {
color: white ; 
text-align: center ;
}

h3 {
color: white ;
text-align: center ; 
}

aside{
  height: 400px ;
  width: 200px ;
  text-align: right ;
  background-position: right ;
}

.header a {
  margin: 50px ;
  color: white ; 
  font-size: 150% ;
}

.content {
  float: center;
}



